<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>

    <title>devtools</title>

</head>

<body>
<h2>IntelliJ, SpringBoot devtools livereload</h2>
<ol>
    <li>
        <p>Add LiveReload extension in your browser.
            <a href="https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=en">chrome</a></p>
        <p><img src="/img/live-reload.png" alt="Live Reload" height="200"></p>
    </li>
    <li><p>Add devtools dependencies to your pom.xml(if it's maven (spring-boot-devtools)).</p>
<pre><code>
        &lt;dependency&gt;
            &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
            &lt;artifactId&gt;spring-boot-devtools&lt;/artifactId&gt;
            &lt;scope&gt;runtime&lt;/scope&gt;
        &lt;/dependency&gt;
</code></pre>
    </li>
    <li>
        <p>In your intellij IDEA go to: file->settings->build,execution,deployment. Go to ->compiler->build project automatically.</p>
        <p><img src="/img/settings-build_execution_deployment-compiler-build_auto.png" alt="Select Build automatically" width ="400" height="300"></p>
    </li>
    <li>
        <p>In your intellij IDEA: <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>A</kbd>.<br/>
            type "registry" <br/>
            click "compiler.automake.allow.when.app.running"</p>
        <p><img src="/img/ctrl-shift-a.png" alt="Press Ctrl+Shit+A" width ="400" height="300"></p>
    </li>
    <li>
        <p>Press <kbd>F12</kbd> or <kbd class="keyboard">Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>I</kbd>.<br/>
            Go to Network and Click  on "Diable Cache" which will not save the page into cache.<br/>
            When page refreshes it shows changes</p>
        <p><img src="/img/disable-cache.png" alt="Disable Cache" width ="600" height="100"></p>
    </li>
</ol>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


